$color-grey-light: #f7f8fd;
$color-grey-super-light: #ebecf5;

$color-grey-text: #72768d;
$color-grey-dark-text: #6f728c;

$color-grey-accent: #a6aac3;

$color-black: #313446;

$color-green: #53af1b;
