$color-grey: #f1f3fd;
$color-grey-1: #f7f8fd;
$color-grey-2: #ebecf5;

$color-white: #fff;

$color-grey-text: #72768d;
$color-grey-dark-text: #6f728c;

$color-grey-accent: #a6aac3;

$color-black: #313446;

$color-green: #53af1b;

$color-yellow: #ffc736;
$color-orange: #ff630c;
