body {
    @include fontSize(14px, 20px, 400);
    @extend .ff-rubik;

    @include color($color-black);

    @include media-max-s() {
        font-size: 12px;
    }
}

main {
    @include relative();
}

.no-link {
    pointer-events: none;
}

.ff-rubik {
    font-family: "Rubik", sans-serif;
}

.hov-opacity {
    @include transition(opacity);
    @include hover {
        opacity: 0.6;
    }
}
