.section-bonuses {
    padding-top: 22px;

    .bonuses-list {
        @include flex(column, $gap: 15px);
        @include size(100%);

        counter-reset: bonuses;
    }

    .bonus {
        flex: 1;

        @include bgColor($color-grey-1);
        @include color($color-grey-text);

        border-radius: 15px;

        @include media-max-xs() {
            border-radius: 10px;
        }

        &__body {
            border-radius: 0 0 15px 15px;
            overflow: hidden;

            &[data-collapse="open"] {
                .bonus__more-icon {
                    transform: rotate(-180deg);
                }

                .bonus__more-text_closed {
                    display: none;
                }
                .bonus__more-text_opened {
                    display: block;
                }
            }

            @include media-max-xs() {
                border-radius: 0 0 10px 10px;
            }
        }

        &__header {
            @include relative();
            @include flex(row, center, space-between);

            padding: 24px 15px;
            border-bottom: 1px solid rgba($color: $color-grey-2, $alpha: 0.65);

            @include media-max-s() {
                padding: 15px 10px;
            }

            @include media-max-xs() {
                padding-right: 15px;
            }
        }

        &__title-block {
            @include flex(row, center);
        }

        &__number {
            @include flex();
            @include minSize(12px);

            &::before {
                @include relative();

                counter-increment: bonuses; /* Инкрементируется только счётчик текущего уровня вложенности */
                content: counter(bonuses);

                @include fontSize(18px, 21px, 500);
                @include textLinearGradient(180deg, $color-yellow, $color-orange);
            }

            @include media-max-s() {
                @include minSize(9px);

                &::before {
                    @include fontSize(14px, 17px);
                }
            }
        }

        &__icon {
            @include imgWrap(24px, 24px);
            @include minSize(24px, 24px);

            margin-inline: 12px 10px;

            @include media-max-s() {
                @include size(17px, 17px);
                @include minSize(17px, 17px);
                margin-inline: 8px 10px;
            }

            @include media-max-xs() {
                margin-inline: 3px 5px;
            }
        }

        &__brand {
            @include fontSize(18px, 21px, 500);
            @include color($color-black);

            &-img {
                @include minSize(148px);
                @include imgWrap(148px, $fill: cover);

                aspect-ratio: 148 / 125;

                border-radius: 15px;
                overflow: hidden;
            }

            @include media-max-lg() {
                @include fontSize(14px, 17px);

                &-img {
                    @include minSize(120px);
                    @include size(120px);
                }
            }

            @include media-max-s() {
                &-img {
                    @include minSize(72px);
                    @include size(72px);

                    aspect-ratio: 72 / 60;
                }
            }

            @include media-max-xs() {
                &-img {
                    aspect-ratio: 72 / 84;
                    border-radius: 10px;
                }
            }
        }

        &__bookmark {
            @include flex(row, center, center);

            @include absolute($all: 0);
            top: -5px;
            margin-inline: auto;

            @include imgWrap(221px, 42px);
            @include minSize(221px);

            &-title {
                @include fontSize(14px, 17px, 500, $color-white);
                @include relative();
            }

            img {
                @include absolute($all: 0);
            }

            @include media-max-md() {
                position: relative;
                top: -9px;

                @include size(null, 1px);

                align-self: flex-start;

                margin-right: 100px;

                img {
                    @include size(null, 42px);
                    top: calc(-20px);
                }
            }

            @include media-max-sm() {
                margin-right: 20px;
            }

            @include media-max-s() {
                @include size(181px);
                @include minSize(max-content);

                top: -5px;

                padding-inline: 10px;
                margin-right: 1px;

                img {
                    @include size(null, 34px);
                    top: calc(-15px);
                }

                &-title {
                    @include fontSize(12px, 14px);
                }
            }

            @include media-max-xs() {
                @include size(141px);

                img {
                    @include size(null, 32px);
                }

                &-title {
                    @include fontSize(10px, 12px);
                }
            }
        }

        &__rating {
            @include flex(row, center, flex-end, 10px);

            &-result {
                @include fontSize(17px, 20px, 500, $color-black);
            }

            @include media-max-s() {
                &-result {
                    @include fontSize(14px, 17px);
                }
            }
        }

        &__content {
            padding: 15px;
            @include flex(row);

            &-wrap {
                @include size(100%);
                @include flex(row, $justify: space-between);
            }

            @include media-max-md() {
                flex-direction: column;
            }

            @include media-max-s() {
                padding: 15px 10px;

                &-wrap {
                    flex-direction: column;
                }
            }

            @include media-max-xs() {
                padding: 11px 10px;

                &-wrap {
                    flex-direction: column;
                }
            }
        }

        &__info {
            @include flex(row, flex-start);
            @include relative();

            &-detail {
                @include size(284px);

                @include flex(column, $gap: 10px);
                margin-left: 18px;
            }

            @include media-max-lg() {
                &-detail {
                    @include size(240px);
                }
            }

            @include media-max-md() {
                padding-bottom: 15px;
                //Исходное значение 20px, 22px утсановлено для pixel-perfect
                margin-bottom: 22px;

                &::before {
                    content: "";
                    @include absolute(100%, -15px);
                    @include size(calc(100% + 30px), 2px);
                    @include bgColor($color-grey-2, 0.6);
                }

                &-detail {
                    @include size(100%);
                }
            }

            @include media-max-s() {
                padding-bottom: 10px;

                &-detail {
                    gap: 7px;
                    margin-left: 15px;
                }
            }

            @include media-max-xs() {
                //Исходное значение 15px, 17px утсановлено для pixel-perfect
                margin-bottom: 17px;

                &-detail {
                    margin-left: 10px;
                }
            }
        }

        &__type {
            @include flex(row, center, $gap: 5px);

            &-img {
                @include size(17px, 17px);
            }

            &-text {
                @include fontSize(14px, 17px, 500);
            }

            @include media-max-s() {
                display: none;
            }
        }

        &__title {
            @include fontSize(24px, 28px, 700, $color-black);

            @include media-max-s() {
                @include fontSize(18px, 21px);
            }
        }

        &__descr {
            @include fontSize(14px, 20px, 400);

            @include media-max-s() {
                @include fontSize(12px, 14px);
            }
        }

        &__pros {
            @include maxSize(249px);
            @include size(100%);

            margin-inline: 33px 30px;

            display: grid;
            align-self: center;

            gap: 15px;

            i {
                font-size: 17px;
                margin-right: 10px;
            }

            &-item {
                @include flex(row, flex-start);
                @include size(null, max-content);
            }

            &-name {
                @include fontSize(14px, 17px, 400);
            }

            @include media-max-lg() {
                margin-inline: 20px;
            }

            @include media-max-s() {
                @include size(100%);
                @include maxSize(100%);

                margin-inline: 0;
                margin-bottom: 20px;

                flex-direction: row;
                flex-wrap: wrap;

                grid-template-columns: repeat(2, max-content);

                column-gap: 25px;

                &-item {
                    @include size(100%);
                    @include maxSize(100%);

                    &:nth-of-type(3) {
                        order: 1;
                    }
                    &:nth-of-type(1) {
                        order: 2;
                    }
                    &:nth-of-type(4) {
                        order: 3;
                    }
                    &:nth-of-type(2) {
                        order: 4;
                    }
                }
            }

            @include media-max-xs() {
                @include flex(row, center, flex-start);
                flex-wrap: wrap;

                row-gap: 10px;
                column-gap: 15px;
                justify-content: flex-start;

                margin-bottom: 15px;

                i {
                    font-size: 14px;
                    margin-right: 5px;
                }

                &-item {
                    @include size(max-content);
                    @include maxSize(unset);
                }

                &-name {
                    @include fontSize(12px, 14px);
                }
            }
        }

        &__add {
            margin-inline: 0 auto;

            @include size(calc(20px * 3 + 53px * 4));
            @include minSize(calc(20px * 3 + 53px * 4));

            &:first-child {
                margin-inline: auto 0px;
            }

            @include mediaRange($min_md, 1250px) {
                @include size(calc(10px * 2 + 45px * 3));
                @include minSize(calc(10px * 2 + 45px * 3));
            }

            @include mediaRange($min_s, $max_sm) {
                @include size(calc(10px * 2 + 45px * 3));
                @include minSize(calc(10px * 2 + 45px * 3));
            }

            @include media-max-s() {
                order: 3;

                @include minSize(unset);
                @include size(100%);

                .bonus__payment {
                    display: none;
                }
            }
        }

        &__payment {
            @include size(100%);

            @include flex(row, center, flex-start);
            flex-wrap: wrap;
            row-gap: 15px;
            column-gap: 20px;

            &-item {
                @include size(53px, 34px);
                @include flex(row, center, center);

                @include bgColor($color-grey-2, 0.65);

                border-radius: 5px;
            }

            &-img {
                @include maxSize(100%, 100%);
            }

            @include mediaRange($min_md, 1250px) {
                column-gap: 10px;
                &-item {
                    @include size(45px);
                }
            }

            @include mediaRange($min_s, $max_sm) {
                column-gap: 10px;
                &-item {
                    @include size(45px);
                }
            }

            @include media-max-md() {
                &-detail {
                    @include size(100%);
                }
            }

            @include media-max-s() {
                gap: 14px;
                flex-wrap: nowrap;

                &-item {
                    @include size(calc((100% - 14px * 5) / 6));
                }
            }

            @include media-max-xs() {
                gap: 10px;

                &-item {
                    padding-inline: 11px;
                    @include size(calc((100% - 10px * 5) / 6), 24px);
                }
            }
        }

        &__more {
            margin-top: 22px;
            @include size(100%);

            @include flex(row, center, center);
            background-color: transparent;

            @extend .hov-opacity;

            &::before,
            &::after {
                content: "";
                @include relative();
                @include size(100%, 2px);
                margin-top: 2px;

                @include bgColor($color-grey-accent);
            }

            &::before {
                margin-right: 11px;
            }

            &::after {
                margin-left: 12px;
            }

            &-text {
                @include fontSize(13px, 15px, 400, $color-grey-accent);
                white-space: nowrap;

                &_opened {
                    display: none;
                }
            }

            &-icon {
                @include size(15px, 15px);
                margin-left: 5px;

                @include transition(transform);
            }

            @include media-max-s() {
                margin-top: 0;
            }
        }

        &__buttons {
            @include size(180px);
            @include minSize(180px);
            @include flex(column, $gap: 15px);

            margin-left: 14px;

            @include media-max-s() {
                margin-left: 0;
                margin-bottom: 15px;

                @include size(100%);
                flex-direction: row-reverse;
                gap: 10px;

                .btn {
                    flex: 1;
                }
            }

            @include media-max-xs() {
                flex-direction: column-reverse;
            }
        }

        &__details {
            border-radius: 0 0 15px 15px;
            overflow: hidden;

            &-wrap {
                padding: 15px;
                @include flex(row);

                border-top: 1px solid $color-grey-2;
            }

            &-descr {
                @include size(100%);
                @include maxSize(446px);
                @include fontSize(14px, 25px, 400);
            }

            &-list {
                @include size(100%, max-content);
                @include maxSize(404px);

                padding: 14px;

                border-radius: 15px;
                border: 1px solid $color-grey-2;

                @include flex(column, $gap: 15px);

                &-wrap {
                    @include size(100%);
                    @include flex(row, $gap: 15px);
                    margin-left: 20px;
                }

                &-item {
                    i {
                        font-size: 25px;
                    }

                    @include flex(row, flex-start, $gap: 5px);
                    @include fontSize(14px, 25px, 400);
                }
            }

            @include media-min-s() {
                .bonus__payment {
                    display: none;
                }
            }

            @include media-max-md() {
                &-wrap {
                    flex-direction: column;
                }

                &-descr {
                    @include maxSize(100%);
                }

                &-list {
                    @include maxSize(100%);

                    padding: 9px;

                    &-wrap {
                        margin-left: 0;
                        margin-top: 15px;
                    }
                }

                .bonus__payment {
                    margin-bottom: 15px;
                }
            }

            @include media-max-s() {
                &-wrap {
                    margin-left: 0;
                    padding: 10px;
                }

                &-descr {
                    @include fontSize(12px, 20px);
                }

                &-list {
                    gap: 10px;
                    border-radius: 10px;

                    &-item {
                        i {
                            font-size: 14px;
                        }

                        @include fontSize(12px, 14px);
                    }

                    &-wrap {
                        flex-direction: column;
                        gap: 10px;
                    }
                }
            }

            @include media-max-xs() {
                &-wrap {
                    padding: 10px;
                }

                &-descr {
                    @include fontSize(10px, 15px);
                }

                &-list {
                    &-wrap {
                        margin-top: 10px;
                    }
                }

                .bonus__payment {
                    margin-bottom: 10px;
                }
            }
        }
    }

    @include media-max-s() {
        padding-top: 20px;

        .bonuses-list {
            gap: 10px;
        }
    }

    @include media-max-xs() {
        padding-top: 21px;
    }
}
