<ul class="bonus__pros">
    <li class="bonus__pros-item">
        <i
            class="fa-solid fa-rocket"
            style="color: #0079f0"
        ></i>
        <span class="bonus__pros-name">Best odds</span>
    </li>
    <li class="bonus__pros-item">
        <i
            class="fa-solid fa-rocket"
            style="color: #0079f0"
        ></i>
        <span class="bonus__pros-name">Casino</span>
    </li>
    <li class="bonus__pros-item">
        <i
            class="fa-solid fa-rocket"
            style="color: #0079f0"
        ></i>
        <span class="bonus__pros-name">200+ Paymenth
            Method</span>
    </li>
    <li class="bonus__pros-item">
        <i
            class="fa-solid fa-rocket"
            style="color: #0079f0"
        ></i>
        <span class="bonus__pros-name">Fast
            Payouts</span>
    </li>
</ul>