<ul class="bonus__payment">
    {{#each paymentData}}
        <li class="bonus__payment-item">
            <img
                src="{{img}}"
                alt="{{alt}}"
                class="bonus__payment-img"
            />
        </li>
    {{/each}}
</ul>