<div class="bonus__details js-accord__body accord__body">
    <article class="bonus__details-wrap">
        {{> bonus/bonus__payment paymentData=paymentMob}}
        <p class="bonus__details-descr">
            Potenti placerat in tempor aliquet ut porta
            fringilla inceptos, massa
            senectus lacus volutpat morbi felis ultrices, cras
            nullam commodo nulla
            litora phasellus ornare. Lorem ipsum dolor proin id
            fames pulvinar curabitur
            faucibus. Potenti placerat in tempor aliquet ut
            porta fringilla inceptos,
            massa senectus lacus volutpat morbi felis ultrices,
            cras nullam commodo
            nulla litora phasellus ornare. Lorem ipsum dolor
            proin id fames pulvinar
            curabitur faucibus.
        </p>

        <div class="bonus__details-list-wrap">
            <ul class="bonus__details-list">
                <li class="bonus__details-list-item">
                    <i
                        class="fa-solid fa-thumbs-up"
                        style="color: #53af1b"
                    ></i>
                    Lorem ipsum dolor sit amet consectetur
                    adipiscing
                </li>
                <li class="bonus__details-list-item">
                    <i
                        class="fa-solid fa-thumbs-up"
                        style="color: #53af1b"
                    ></i>
                    Lorem ipsum adipiscing
                </li>
                <li class="bonus__details-list-item">
                    <i
                        class="fa-solid fa-thumbs-up"
                        style="color: #53af1b"
                    ></i>
                    Lorem ipsum dolor sit amet adipiscing.
                </li>
                <li class="bonus__details-list-item">
                    <i
                        class="fa-solid fa-thumbs-up"
                        style="color: #53af1b"
                    ></i>
                    Lorem ipsum dolor sit amet consectetur
                    adipiscing
                </li>
            </ul>
            <ul class="bonus__details-list">
                <li class="bonus__details-list-item">
                    <i
                        class="fa-solid fa-thumbs-down"
                        style="color: #ff4c34"
                    ></i>
                    Lorem ipsum dolor sit amet consectetur
                    adipiscing
                </li>
                <li class="bonus__details-list-item">
                    <i
                        class="fa-solid fa-thumbs-down"
                        style="color: #ff4c34"
                    ></i>
                    Lorem ipsum adipiscing
                </li>
                <li class="bonus__details-list-item">
                    <i
                        class="fa-solid fa-thumbs-down"
                        style="color: #ff4c34"
                    ></i>
                    Lorem ipsum dolor sit amet adipiscing.
                </li>

                <!--По дизайну в адаптиве слово пропадает, на мой взгляд ошибка дизайна. В рабочей ситуации с реаильным контентом уточнила бы момент -->
                <li class="bonus__details-list-item">
                    <i
                        class="fa-solid fa-thumbs-down"
                        style="color: #ff4c34"
                    ></i>
                    Lorem ipsum dolor sit amet consectetur
                    adipiscing
                </li>
            </ul>
        </div>


    </article>
</div>