<section class="section section-bonuses">
    <div class="container">
        <ul class="bonuses-list">
            {{#each this.bonuses}}
                {{> bonus/bonus}}
            {{/each}}
        </ul>
    </div>
</section>