<section class="section section-bonuses">
    <div class="container">
        <ol class="bonuses-list">
            {{#each this.bonuses}}
                {{> bonus/bonus}}
            {{/each}}
        </ol>
    </div>
</section>