@mixin size($width: null, $height: null) {
    @if $width != null {
        width: $width;
    }

    @if $height != null {
        height: $height;
    }
}

@mixin minSize($width: null, $height: null) {
    @if $width != null {
        min-width: $width;
    }

    @if $height != null {
        min-height: $height;
    }
}

@mixin maxSize($width: null, $height: null) {
    @if $width != null {
        max-width: $width;
    }

    @if $height != null {
        max-height: $height;
    }
}
